:root {
  --border-color: rgb(0 128 96 / 36%);
}

.form-container {
  border: 1.5px solid var(--border-color);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 250px;
}

.fields-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label{
    font-size: 14px;
}

.name-field-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 4px;
}

.field {
  border: 0;
  outline: 0;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow:
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 8px;
  min-height: 28px;
  vertical-align: middle;
  transition:
    background-color 0.24s,
    box-shadow 0.24s;
  transition-property: background-color, box-shadow;
  transition-duration: 0.24s, 0.24s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

.field:focus,
.field:hover {
  box-shadow:
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 128 96 / 36%) 0px 0px 0px 3px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 10px;
  margin-top: 2px;
}
