.emoji-container{
    background-color: #f7f5f2;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap:20px;
}

.emoji-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;

}